<nav class="bg-zinc-800 flex h-12 px-20 max-lg:px-4 justify-between">
    <div class="flex gap-4">
      <img src="./logo.svg">
      <input type="text" id="username" class="m-2 bg-zinc-700 rounded-md px-2 text-white" placeholder="Your username here">
    </div>
    <ul class="flex place-items-center gap-4 text-white justify-center">
      <li>
        Home
      </li>
      <li>
        About
      </li>
      <li>
        Contribute
      </li>
    </ul>
</nav>
  